<div class="container">
<div class="row">
	<div class="span4">
			<h2 class="text-center text-muted">Editar Anho Carrera</h2>
	</div>

	<div  class="span8">

		<%= render 'form', anho_carrera: @anho_carrera %>

		<%= link_to @anho_carrera, class:" btn btn-info" do  %> 
		              <i class="glyphicon glyphicon-eye-open"></i>
		            <% end %> |
		<button type="button" class="btn btn-defauld"><%= link_to 'Atras', anho_carreras_path %></button>
	</div>
</div>
</div>
