<div class="container">
<div class="row">
	<div class="span4">
		<h1>Nueva Asignacion Aula</h1>

	</div>

	<div class="span8">
		<%= render 'form', asignacion_aula: @asignacion_aula %>

		<button type="button" class="btn btn-defauld"><%= link_to 'Atras', asignacion_aulas_path %></button>
	</div>
</div>
</div>

