<div class="container">
<div class="row">
	<div class="span4">
		<h1>Nueva Facultad</h1>
	</div>

	<div class="span8">
		<%= render 'form', facultad: @facultad %><br>

		<button type="button" class="btn btn-defauld"><%= link_to 'Atras', facultads_path %></button>
	</div>
</div>
</div>